[user]
	name = Nazar Klovanych
	email = nazarn96@gmail.com
        signingkey = B510AA5B74EAF294
[credential]
    helper = store --file /home/nazar/.git-credentials
    helper = cache --timeout 30000
[commit]
	gpgSign = true
